:host {
  mat-dialog-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 200px;
  }

  .background-bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
    margin: 5px;
  }
}
