<div>
  <button mat-menu-item (click)="selectMenuItem('reply')"><mat-icon>reply</mat-icon> <span>Reply</span></button>
  <button mat-menu-item (click)="selectMenuItem('edit')"><mat-icon>edit</mat-icon> <span>Edit</span></button>
  <button mat-menu-item (click)="selectMenuItem('copy')"><mat-icon>file_copy</mat-icon> <span>Copy</span></button>
  <button mat-menu-item (click)="selectMenuItem('pin')"><mat-icon>text_rotate_vertical</mat-icon> <span>Pin</span></button>
  <button mat-menu-item (click)="selectMenuItem('forward')"><mat-icon>forward</mat-icon> <span>Forward</span></button>
  <button mat-menu-item (click)="selectMenuItem('select')"><mat-icon>check_box</mat-icon> <span>Select</span></button>
  <button mat-menu-item (click)="selectMenuItem('delete')"><mat-icon>delete</mat-icon> <span>Delete</span></button>
</div>
