:host {
  flex: 1 1 auto;
  width: 50vw;
  //overflow-y: scroll;

  .message-container {
    overflow-y: scroll;
    height: 80vh;
    display: flex;
    flex-direction: column;
  }

}

.align-left {
  justify-content: flex-start;
}

.align-right {
  justify-content: flex-end;
}
